@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
    font-family: "Poppins";
    scroll-behavior: smooth;
}

p {
    
}

html {
    background-image: linear-gradient(#FFECBC, #6A60A4);
    background-repeat: no-repeat;
}

html::-webkit-scrollbar {
    display: none;
}

::selection {
    background: #554C89;
    color: white;
  }

h1 {
    font-size: 100px;
    letter-spacing: -3px;
    font-weight: bold;
}

h2 {
    font-size: 40px;
    letter-spacing: -1px;
}

h3 {
    font-size: 26px;
}

.ReactCollapse--collapse {
    transition: all 500ms;
}

a {
    color: #6A60A4;
    transition: all ease-in-out;
    transition-duration: 200ms;
}

a:hover {
    color: #554C89;
}

 