@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
    font-family: "Poppins";
    font-weight: bold;
    scroll-behavior: smooth;
}

html {
    background-image: linear-gradient(#FFECBC, #6A60A4);
    background-repeat: no-repeat;
}

html::-webkit-scrollbar {
    display: none;
}

::selection {
    background: #554C89;
    color: white;
  }

h1 {
    font-family: "Poppins";
    font-size: 100px;
    letter-spacing: -3px;
}

h2 {
    font-size: 40px;
    letter-spacing: -1px;
}

h3 {
    font-size: 26px;
}

.ReactCollapse--collapse {
    transition: all 500ms;
}

a {
    color: #6A60A4;
    transition: all linear;
    transition-duration: 500ms;
}

a:hover {
    color: #FFECBC;
}

 