@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Poppins";
    font-weight: bold;
    scroll-behavior: smooth;
}

::selection {
    background: #554C89;
    color: white;
  }

html {
    /* background-color: #FAEDC0; */
}

h1 {
    font-family: "Poppins";
    font-size: 100px;
    letter-spacing: 2px;
}

h2 {
    font-family: "Poppins";
    font-size: 50px;
    /* letter-spacing: 1px; */
}
